---
layout: layouts/base.njk
title: Accueil
---

{# {% for project in collections.blogs %}
    <div class="project-card">
        <div class="project-header">
            <i class="fa-regular fa-folder-open folder-icon"></i>
            <div class="small-icons">
                <a href={{project.data.gitHubURL}}><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
        <h3>{{project.data.title}}</h3>
        <p>{{project.data.description}}</p>
        <a href="{{project.url}}" class="cta-btn">Read more</a>
    </div>
{% endfor %} #}


# Liste d'articles

## Créer des composants : 

# Composant qui affiches les 6 derniers articles par exemples
# Composant pour choisir articles basé sur le type de l'articles (tech, jv, ...)

# Peut-etre, Un autre composant qui fait un menu sur la droite avec pour chaque mois les articles qui sont sorti