---
layout: layouts/base.njk
title: Accueil
css_file: a-propos/index
pahtToIcon: ../../
---

<div class="about-container">
    <h1>👋 Salut ! Moi c'est Bastien BYRA</h1>
    <p>Pour me présenter rapidement, je suis un Alternant "Ingénieur" DevOps, avec un background de Developpeur, je n'ai pas un nombre pharamineux d'années derrière moi pour donner du crédit à mes propos, mais eh, j'ai une passion, un clavier, un bloc-notes, de la volonté et un Diabolo.</p>

    <h2>🙂🫴 Un peu plus sur moi (et ma vie absoument passionnante, non je ne mens pas)</h2>
    <p>Je suis un passioné de JV, depuis mon enfance dans les faits, c'est de cette passion que j'ai fini en informatique, au départ avec l'ambition de créer un jeu, aujourd'hui avec l'ambition d'écrire un livre et de créer un jeu, et aussi de péter les serveurs de prodution !! Important cette dernière partie !</p>
    <p>J'aime lire et écrire, je n'ai pas de sujet de lecture en particulier, tant que l'auteur rend la chose intérrésente, je suis son lecteur.</p>
    <p class="recommendation">Le Joueur d'échecs, Et ils meurent tout les deux à la fin, Omniscient Reader, Jujutsu Kaisen, Sakamoto Days, Coeur al'aran...</p>
    <p>Niveau JV, Je suis un joueur solo, j'aime les jeux ayant une bonne histoire, les jeux un peu cozy et les jeux un peu tactiques. (Je suis encore hanté par le fait d'etre flame par ma team sur LoL, tous persuadé que j'étais un bot...)</p>
    <p class="recommendation">Dave The Diver, Celeste, Fire Emblem, Persona, Zelda, Baldur Gate 3...</p>
    <h2>🧑‍🎓 Mon parcours (pas extraordinaire)</h2>
    <p>Plus jeune, je ne savais pas vraiment où aller, sans réel idée, avec un Brevet misérablement échoué et mon amour pour les jeux-vidéos et l'informatique, je me suis diriger vers un Bac Pro qui, moi comme la moitié de ma classe à l'époque, nous a été vendu comme une école de code, une école où l'on allait comprendre l'envers du décor du web. Quelle fut notre surprise d'apprendre que l'on est dans une école de Réseaux et Électronique !</p>
    <p>Avec un Bac Pro et des câbles RJ45 en main, je me suis dirigé (cette fois c'est la bonne) vers un BTS dans lequel je pourrais apprendre le code, et la magie derrière les sites web et logiciels que j'utilise tous les jours.</p>
    <p>Trois ans, un BTS, une Licence Pro et une alternance d'un an sont passés ainsi, pendant lesquels j'ai appris comment on mène un projet informatique à bien, comment on conçoit des solutions web, Java, C#, JavaScript, Python, SQL, la cybersécurité, le RGPD... Plus rien ne m'échappe ! Pourtant, je n'ai jamais vraiment su comment est géré ce qui est autour, le avant et après avoir tapé mon code.</p>
    <p>Démangé d'acquérir ces connaissances, j'ai continué mon cursus scolaire et professionnel dans cette direction, pour finalement acquérir ce savoir.</p>
    <p>Et c'est la que mon parcours se fini pour aujourd'hui, maintenant, je continue de comprendre et d'apprendre de nouvelles choses.</p>
    
    <h2>✍️🔥 Pourquoi créer un blog ? (Bah oui tiens, pourquoi?)</h2>
    <p>Ce blog a vraiment trois objectifs principaux : partager mes trouvailles et connaissances, écrire à propos de choses que j'ai envie, et vous faire découvrir mon <b>humble</b> et <b>auguste</b> personne 😇.</p>
    <p>Les deux derniers points sont aussi les raisons pour lesquelles je ne veux pas me limiter à un blog de tech. Je veux pouvoir explorer d'autres choses et partager mes passions.</p>

    {# <h2>Mon CV</h2>
    <p></p> #}
</div>
