<div class="blog-content-container">
    <div class="new-blog-article">
        {% for article in collections.article | reverse -%}
        <div class="blog-content" itemscope itemtype="https://schema.org/Article">
            <div class="blog-flex">
                <a class="link-no-visual-effect" href="{{article.data.permalink}}">
                    <img src="assets/blog/{{article.data.filename}}/{{article.data.image}}" alt="{{article.data.title}}" />
                    <div>
                        <h2>{{article.data.title}}</h2>
                        <p class="article-date">{{article.data.dateText}}</p>
                        <p class="article-description">{{article.data.description}}</p>
                    </div>
                </a>
            </div>
            <a href="{{article.data.permalink}}">➜ Lire l'article</a>
        </div>
        {% endfor -%}
    </div>
</div>