<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/{{css_file}}.css">
    <title>{{ title }}</title>
    {# <link rel="icon" href="{{pahtToIcon}}favicon.ico" type="image/x-icon" /> #}
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="author" content="Bastien Byra" />
    <meta name="robots" content="index, follow">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ metaKeywords }}">
    {# Opengraph data #}
    <meta property="og:image" content="{{ metaImage }}" />
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:title" content="{{ title }}" />
    <script src="/javascript/script.js" refferer></script>
    
    <link
			href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
			rel="stylesheet"
		/>

    <script data-goatcounter="https://bastienbyra.goatcounter.com/count"
        async src="//gc.zgo.at/count.js">
    </script>
    
  </head>
  <body>
    <div class="container">
      {% include "components/header.njk" %}
      <div class="layout-border">
      {% block content %} 
          {{ content | safe }}
      {% endblock %}
      </div>
    </div>
  </body>
</html>