---
pagination:
  data: projectsList
  size: 1
  alias: project
permalink: "project/{{ project.urlName | slugify }}/"
layout: layouts/project.njk
title: Accueil
---

<div class="project-container">
  <div class="project-presentation">
    <h1 class="project-title">{{project.name}}</h1>
    <p class="project-short-description">{{project.shortDescription}}</p>
  </div>

  <div class="project-content">
    
    <p class="project-long-description">{{project.longDescription}}</p>

    {% if project.projectImage and project.projectImage.length > 0 %}
      <div class="project-image-grid">
        {% for image in project.projectImage -%}
            <div class="project-image">
              <img src="../../assets/project/{{ project.urlName }}/{{ image.img }}" alt="{{ image.title }}">
            </div>
          {% endfor %}
      </div>
    {% endif %}

    <p>{{project.period}}</p>
    <p>Position : {{project.role}}</p>
    <p>Objectif : {{project.objectif}}</p>

    <div class="project-tech">
        <h3>Technologies utiliser par le projet : </h3>
        <div class="project-tech-row">
          {% for technology in project.technologies -%}
            <div class="project-tech-column">
              <img src="../../assets/skills/{{ technology.img }}" alt="{{ technology.title }}">
              <span>{{ technology.title }}</span>
            </div>
          {% endfor %}
        </div>
      </div>


  </div>

    
    
</div>