<div class="sidebar">
    <img class="picture" src="assets/BYRA_BASTIEN.jpg" alt="Photo de Bastien BYRA">
    <h2>BYRA Bastien</h2>
    <p>Devops / SRE</p>
    <div class="logo-container">
        <img src="chemin/vers/logo1.png" alt="Logo 1">
        <img src="chemin/vers/logo2.png" alt="Logo 2">
        <img src="chemin/vers/logo3.png" alt="Logo 3">
        <img src="chemin/vers/logo4.png" alt="Logo 4">
        <img src="chemin/vers/logo5.png" alt="Logo 5">
    </div>
    <ul class="links">
        <li><a href="page1.html">Page 1</a></li>
        <li><a href="page2.html">Page 2</a></li>
        <li><a href="page3.html">Page 3</a></li>
    </ul>
</div>