.article-container {
    // padding-top: 450px;
}

.article-date {
    word-spacing: 3px;
    letter-spacing: 3px;
    font-size: 18px;
    
    @media (max-width: 800px) {
        font-size: 16px;
    }

    @media (max-width: 600px) {
        font-size: 14px;
    }
}

.article-image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-height: 420px;
    object-fit: cover;

    //center image
    text-align: center;
    display: block;

    -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.06);
    box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.06);
}

.image-related-text {
    margin-top: -3px;
    text-align: center;
    font-style: italic;
    font-size: 19px;
    margin-bottom: 35px;

    @media (max-width: 800px) {
        font-size: 16px;
    }

    @media (max-width: 600px) {
        font-size: 14px;
    }
}

.article-title {
    margin-top: 20px;
    text-underline-offset: 4px;
    max-width: 80%;
    padding-left: 16px;
    border-left: 8px solid blueviolet;

    @media (max-width: 800px) {
        font-size: 26px;
    }

    @media (max-width: 600px) {
        font-size: 22px;
        border-left: 4px solid blueviolet;
        max-width: 90%;
    }
}

.article-description {
    // margin-top: 15px;
    font-size: 19px;
    word-spacing: 1px;
    line-height: 30px;

    @media (max-width: 800px) {
        margin-top: 24px;
        font-size: 18px;
    }

    @media (max-width: 600px) {
        font-size: 16px;
        margin-top: 18px;
    }
}

.article-intro {
    padding-top: 17px;

    img {
        border-radius: 25px;
    }
}

.article-content {
    // margin-top: -20px;
    padding-bottom: 20px;

    img {
        border-radius: 25px;
    }

    p {
        font-size: 19px;
        line-height: 30px;

        @media (max-width: 800px) {
            font-size: 18px;
        }
    
        @media (max-width: 600px) {
            font-size: 16px;
        }
    }
}

li {
    font-size: 19px;
    line-height: 34px;

    @media (max-width: 800px) {
        font-size: 17px;
        line-height: 30px;
    }

    @media (max-width: 600px) {
        font-size: 16px;
        line-height: 30px;
        // margin-bottom: -3px;
    }
}

.article-content img {
    display: block;
    max-width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

h2 > a  {
    text-decoration: white;
    color: inherit;
    text-underline-offset: 5px;
    transition: all 0.5s;

    &:hover {
        text-decoration-color: rgba(137, 43, 226, 0.452);
    }
}

h2 {
    font-size: 30px;
    // text-decoration: underline;
    // text-decoration-color: blueviolet;
    // text-underline-offset: 3px;
    // text-decoration-thickness: 2px;
    border-left: 6px solid blueviolet;
    padding-left: 14px;

    margin-top: 50px;

    @media (max-width: 800px) {
        font-size: 26px;
        padding-left: 12px;
        margin-top: 45px;
    }

    @media (max-width: 600px) {
        font-size: 22px;
        padding-left: 10px;
        border-left: 4px solid blueviolet;
    }

    &::marker {
        font-size: 150%;
        color: lightgreen;
    }
}

h3 {
    font-size: 22px;
    margin-top: 40px;

    @media (max-width: 800px) {
        font-size: 20px;
    }

    @media (max-width: 600px) {
        font-size: 18px;
    }

    a {
        text-decoration: white;
        color: inherit;
        text-underline-offset: 5px;
        transition: all 0.5s;
    
        &:hover {
            text-decoration-color: rgba(137, 43, 226, 0.452);
        }
    }
}

.article-end {
    
    p:first-of-type {
        margin-bottom: 10px;
    }

    p {
        &:first-of-type {
            font-size: 24px;
            font-weight: bold;

            @media (max-width: 800px) {
                font-size: 22px;
            }
    
            @media (max-width: 800px) {
                font-size: 20px;
            }
        }

        font-size: 20px;
        margin-left: 10px;
    }

    .link-to-articles {
        font-size: 20px;
        margin-left: 10px;
    }
}

.article-social-network {
    padding-top: 10px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;

    img {
        width: 40px;
    }
}

.article-network-image {
    display: flex;
    gap: 24px;
    margin-right: 30px;
}

p > code, li > code {
    margin: 0px 1px;
    background-color: #f5f2f0;
    padding: 2px 8px;
    border-radius: 5px;
    word-spacing: -2px;
}

blockquote  {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    // margin: 1.5em 10px;

    margin-right: 0px;
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 2px 20px;

    // blockquote {
    //     padding: 5px 15px;
    // }
}