.about-container {
    max-width: 1000px;
    padding: 0px 100px;
    padding-top: 100px;
    margin: 0 auto;
    padding-bottom: 40px;
}

h2 {
    margin-top: 50px;
    font-size: 30px;
}

p {
    font-size: 20px;
    line-height: 30px;
}

.recommendation {
    font-size: 18px;
    font-style: italic;
    margin-top: -14px;
    margin-bottom: 20px;
}