@import url("components/hero.css");
@import url("components/articles.css");

/* .blog-presentation {
    padding-top: 87px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 60px;
    background-color: blueviolet;
    color: white;
}

.blog-title {
    display: inline-block;
    font-size: 64px;
    border-left: 6px solid white;
    padding-left: 18px;
}

.blog-description {
    font-size: 20px;
    white-space: pre-wrap;
    margin-top: -4px;
} */