<div class="blog-hero-container">
    <div class="blog-hero-content">
        <h1>Le blog de <span>Bastien</span></h1>
        <p>Un type qui parle de tout et de rien ; Tech, JV, livres, et plein d'autres choses!</p>
    </div>
</div>