<div class="blog-hero-container">
    <div>
        <h1>Le blog de <span>Bastien</span></h1>
        <p>Le blog d'un type lambda mais pas AWS,
            <a href="https://media.tenor.com/B8rKEjDfDjwAAAAe/cat-clown.png" target="_blank">
                <span class="small">(Un type lambda, AWS Lambda, vous l'avez... ?</span>
                <span class="ultra-small">Je suis un poti clown)</span>
            </a>
        </p>
    </div>
</div>