<div class="about-container">

    <h2>A propos de moi ; Une petite histoire</h2>

    <p>Depuis mon enfance, j'ai nourri une passion pour l'informatique, tout d'abord grâce aux jeux vidéo, puis à Internet de manière plus générale, de cette passion est né mon désir d'en apprendre plus sur l'informatique, de savoir ce qui fait fonctionner les services web que l'on utilise tout les jours au quotidien.</p>
    <p>De cette passion, et ne sachant pas quel métier je voulais faire plus tard, je me suis dirigé vers une école d'informatique, dans ce que je pensais être un Bac Pro visant à formé des developpeurs, comme la moitié de ma classe à l'époque. Quelle fut notre surprise d'apprendre que l'on est dans une école de Réseau et Électronique !</p>
    <p>Avec un diplôme et des câbles RJ45 en main, je me suis dirigé (cette fois c'est la bonne) vers un BTS dans lequel je pourrais apprendre le code, et la magie derrière les sites web et logiciels que j'utilise tous les jours.</p>
    <p>Trois ans, une Licence Pro et une alternance d'un an sont passés ainsi, pendant lesquels j'ai appris comment on mène un projet informatique à bien, comment on conçoit des solutions web, Java, C#, JavaScript, Python, SQL, le RGPD... Plus rien ne m'échappe ! Pourtant, je n'ai jamais vraiment su comment gérer ce qui est autour, le avant et après avoir tapé mon code.</p>
    <p>Démangé d'acquérir ces connaissances, j'ai continué mon cursus scolaire et professionnel dans cette direction, pour finalement acquérir ce savoir.</p>
    {# <p><span class="text-bold">TLDR</span> : Maintenant, je code des Hello World sur la prod, et si la prod tombe, je me déconnecte de Teams !</p> #}
    
</div>