.article-color-block {
    padding-top: 450px;
    background: rgb(254, 243, 226);
    background: -moz-linear-gradient(131deg, rgba(254, 243, 226, 1) 7%, rgba(248, 235, 255, 1) 93%);
    background: -webkit-linear-gradient(131deg, rgba(254, 243, 226, 1) 7%, rgba(248, 235, 255, 1) 93%);
    background: linear-gradient(131deg, rgba(254, 243, 226, 1) 7%, rgba(248, 235, 255, 1) 93%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fef3e2",endColorstr="#f8ebff",GradientType=1);
}

.article-intro {
    max-width: 1000px;
    padding: 0px 100px;
    margin: 0 auto;
    margin-top: -150px;

    @media (max-width: 800px) {
        padding: 0px 40px;
    }

    @media (max-width: 600px) {
        padding: 0px 25px;
    }
}

.article-date {
    word-spacing: 3px;
    letter-spacing: 3px;
    font-size: 18px;
    margin-top: -350px;
    
    @media (max-width: 800px) {
        font-size: 16px;
    }

    @media (max-width: 600px) {
        font-size: 14px;
    }
}

.article-image {
    margin-top: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
    object-fit: cover;

    @media (max-width: 800px) {
        max-height: 300px;
    }
}

.image-related-text {
    margin-top: -3px;
    text-align: center;
    font-style: italic;
    font-size: 19px;
    margin-bottom: 35px;

    @media (max-width: 800px) {
        font-size: 16px;
    }

    @media (max-width: 600px) {
        font-size: 14px;
    }
}

.article-title {
    margin-top: 20px;
    text-underline-offset: 4px;
    max-width: 80%;
    padding-left: 16px;
    border-left: 8px solid blueviolet;

    @media (max-width: 800px) {
        font-size: 26px;
    }

    @media (max-width: 600px) {
        font-size: 22px;
        border-left: 4px solid blueviolet;
        max-width: 90%;
    }
}

.article-description {
    margin-top: 35px;
    font-size: 20px;
    word-spacing: 1px;
    line-height: 30px;

    @media (max-width: 800px) {
        margin-top: 24px;
        font-size: 18px;
    }

    @media (max-width: 600px) {
        font-size: 16px;
        margin-top: 18px;
    }
}

.article-intro img {
    border-radius: 25px;
}

.article-content {
    max-width: 1000px;
    padding: 0px 100px;
    margin: 0 auto;
    padding-bottom: 20px;

    @media (max-width: 800px) {
        padding: 0px 40px;
    }

    @media (max-width: 600px) {
        padding: 0px 25px;
    }

    img {
        border-radius: 25px;
    }

    p {
        font-size: 20px;
        line-height: 30px;

        @media (max-width: 800px) {
            font-size: 18px;
        }
    
        @media (max-width: 600px) {
            font-size: 16px;
        }
    }
}

li {
    font-size: 20px;
    line-height: 30px;

    @media (max-width: 800px) {
        font-size: 18px;
    }

    @media (max-width: 600px) {
        font-size: 16px;
    }
}

.article-content img {
    display: block;
    max-width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 30px;
    // text-decoration: underline;
    // text-decoration-color: blueviolet;
    // text-underline-offset: 3px;
    // text-decoration-thickness: 2px;
    border-left: 6px solid blueviolet;
    padding-left: 14px;

    margin-top: 50px;

    @media (max-width: 800px) {
        font-size: 26px;
        padding-left: 12px;
    }

    @media (max-width: 600px) {
        font-size: 22px;
        padding-left: 10px;
        border-left: 4px solid blueviolet;
    }
}

h3 {
    font-size: 22px;
    margin-top: 40px;

    @media (max-width: 800px) {
        font-size: 20px;
    }

    @media (max-width: 600px) {
        font-size: 18px;
    }
}

.article-end {
    padding: 1px 40px;
    padding-bottom: 10px !important;
    background-color: #F2F2F2;
    border-bottom-right-radius: 40px;
    max-width: 980px;
    margin: 0 auto;
    margin-bottom: 60px;
    background: rgb(254, 243, 226);
    background: -moz-linear-gradient(131deg, rgba(254, 243, 226, 1) 7%, rgba(248, 235, 255, 1) 93%);
    background: -webkit-linear-gradient(131deg, rgba(254, 243, 226, 1) 7%, rgba(248, 235, 255, 1) 93%);
    background: linear-gradient(131deg, rgba(254, 243, 226, 1) 7%, rgba(248, 235, 255, 1) 93%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fef3e2",endColorstr="#f8ebff",GradientType=1);
    width: 75%;

    @media (max-width: 800px) {
        margin-top: 60px;
        padding: 1px 25px;
    }

    @media (max-width: 800px) {
        font-size: 20px;
        padding: 1px 15px;
    }

    p {
        &:first-of-type {
            font-size: 24px;
            font-weight: bold;

            @media (max-width: 800px) {
                font-size: 22px;
            }
    
            @media (max-width: 800px) {
                font-size: 20px;
            }
        }

        font-size: 20px;
        margin-left: 10px;
    }
}

.article-social-network {
    padding-top: 10px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;

    img {
        width: 40px;
    }
}

.article-network-image {
    display: flex;
    gap: 24px;
    margin-right: 30px;
}
