<div class="projects-container">
    <h2>Mes projets</h2>
    <p class="text-skill-tip">Cliquer sur un projet pour en savoir plus !</p>
    
    <div class="projects-content">
        {% for project in projectsList -%}
        <a class="projects-link-project-detail" href="/project/{{project.urlName}}" target="_blank">
            <div class="projects-content-container">
                <h3>{{project.name}}</h3>
                <p>{{project.shortDescription}}</p>
                <img class="projects-img" src="../assets/projects/{{project.img}}" alt="{{project.name}}">
                {% set counter = 0 %}
                    <div class="projects-skills">
                    {% for technology in project.technologies %}
                        {% set counter = counter + 1 %}
                        {% if counter <= 4 %}
                        <div class="projects-logo-name">
                            <img class="projects-logo" src="../assets/skills/{{ technology.img }}" alt="{{ technology.title }}">
                            <span>{{ technology.title }}</span>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>

                {% if counter >= 5 %}
                    <p class="projects-remaining-tech">Et {{project.technologies | length - 4}} technologies de plus.</p>
                {% endif %}
            </div>
        </a>

        {% endfor -%}
    </div>

    {# <div class="projects-content">
        {% for project in projectsList -%}
            <div class="projects-content-container">
                <h3>{{ category.category }}</h3>
                <div class="grid-test">
                    {% for skill in category.skills -%}
                        <div>
                            <a class="projects-logo-name">
                                <img class="projects-logo" src="{{ skill.image }}" alt="{{ skill.name }}">
                                <span>{{ skill.name }}</span>
                            </a>
                        </div>
                    {% endfor -%}
                </div>    
            </div>
        {% endfor -%}
    </div> #}

    <a href="https://github.com/BastienBYRA">
        <button class="purple-white-btn center mt-32">Voir tout mes projets</button>
    </a>
</div>