header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 13px;
    align-items: center;
    gap: 50px;
    padding-left: 150px;
    padding-right: 150px;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px rgba(0, 0, 0, 0.08) solid;
    z-index: 1000;
}

.header-right {
    display: flex;
    gap: 25px;
    font-size: 18px;
}

header a {
    text-decoration: none;
    color: black;

    &:hover {
        text-underline-offset: 7px;
        text-decoration-thickness: 2px;
    }
}

.header-main-link {
    transition: color 0.2s;
    font-size: 25px;
    font-weight: bold;

    &:hover {
        color: blueviolet;
        text-decoration: none;
    }
}