header {
    box-sizing: border-box;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: #f8f9fa;
    border-bottom: 1px rgba(0, 0, 0, 0.036) solid;

    a {
        text-decoration: none;
        color: #0c0a09;
    
        &:hover {
            text-underline-offset: 7px;
            text-decoration-thickness: 2px;
        }
    }
}

.header-main {
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.header-right {
    display: flex;
    gap: 25px;
    font-size: 18px;

    a {
        @media (max-width: 800px) {
            display: none;
        }
    }
}

.header-main-link {
    transition: color 0.2s;
    font-size: 25px;
    font-weight: bold;

    &:hover {
        color: blueviolet;
        text-decoration: none;
    }

    @media (max-width: 500px) {
        font-size: 20px;
    }
    @media (max-width: 360px) {
        font-size: 18px;
    }
    @media (max-width: 330px) {
        font-size: 14px;
    }
}

.mobile-header-right {
    width: 30px;
    height: auto;
    display: none;

    @media (max-width: 800px) {
        display: block;
        margin: 0;
    }
}

.header-mobile-row-invisible {
    display: none;
}

.header-mobile-row {
    // margin-top: 5px;
    display: flex;
    flex-direction: column;

    a {
        display: inline-block;
        padding: 14px 30px;
        font-size: 28px;

        &:hover {
            border-left: 10px solid blueviolet;
        }
    }
}


.toggle-receiver-header {
    position: absolute;
    width: 100%;
    bottom: 30px;
}

.header-full-page {
    height: 100% !important;
}