/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Import other CSS files */
@import url("header.css");

/* Global CSS */

html {
    font-family: 'Manrope';
}

body {
    margin: 0px;
    word-wrap: break-word;
    background-color: #f8f9fa;
    color: #181817;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 970px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

a:hover {
    text-decoration: underline;
}

.text-bold {
    font-weight: bold;
}

h1 {
    font-size: 34px;

    @media (max-width: 950px) {
		font-size: 30px;
    }
}

.underline {
    text-decoration: underline;
}

.underline-orangered {
    text-decoration: underline;
    text-decoration-color: orangered;
}

.none {
    display: none;
}

.purple-white-btn {
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 6px;
    font-size: 20px;
    border: blueviolet solid 1px;
    background-color: blueviolet;
    color: white;
    transition: 0.2s;

    &:hover {
        background-color: white;
        border-color: rgb(113, 36, 186);
        color: blueviolet;
        cursor: pointer;
    }
}

a:has(.purple-white-btn) {
    text-decoration: none;
}

.center {
    display: block;
    margin: auto;
    text-align: center;
}

.mt-32 {
    margin-top: 32px;
}

.link-no-visual-effect {
    text-decoration: inherit;
    color: inherit;

    &:hover {
        text-decoration: inherit;
        color: inherit;
    }
}

.blueviolet {
    color: blueviolet;
}