/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Manrope:wght@200..800&display=swap');

/* Import other CSS files */
@import url("header.css");

/* Global CSS */
html {
    font-family: 'Manrope';
    font-size: large;
}

body {
    margin: 0px;
}

a:hover {
    text-decoration: underline;
    color: white
}

scrollbar-color {
    scrollbar-color: blueviolet;
}

.text-bold {
    font-weight: bold;
}

h1 {
    transition: 0.2s;
    text-decoration: underline;
    text-decoration-color: blueviolet;
}

h1:hover {
    color: blueviolet;
    text-decoration: underline;
    text-decoration-color: rgb(27, 27, 27);;
}

h2 {
    text-decoration: underline;
    text-decoration-color: blueviolet;
}

.underline {
    text-decoration: underline;
}

.underline-orangered {
    text-decoration: underline;
    text-decoration-color: orangered;
}

.none {
    display: none;
}

.purple-white-btn {
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 6px;
    font-size: 20px;
    border: blueviolet solid 1px;
    background-color: blueviolet;
    color: white;
    transition: 0.2s;
}

.purple-white-btn:hover {
    background-color: white;
    border-color: rgb(113, 36, 186);
    color: blueviolet;
    cursor: pointer;
}

.center {
    display: block;
    margin: auto;
    text-align: center;
}

.mt-32 {
    margin-top: 32px;
}