---
layout: layouts/blog.njk
title: Blog de Bastien BYRA
pahtToIcon: /
metaDescription: Blog de Bastien BYRA, parlant de Devops, developpement informatique, Jeu video, livre, et tout plein d'autre chose que j'aime et envie de parler.
metaKeywords: Bastien BYRA, Blog, Devops, Developpement web, Developpement informatique, Connaissance
---

{% include "components/blog/hero.njk" %}
{% include "components/blog/articles.njk" %}

