.about-container {
    padding-top: 40px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 80px;
    color: rgb(227, 227, 227);
    background-color: rgb(38, 38, 38);
}

.about-container p {
    font-size: 20px;
}

.tldr-text {
    margin-top: 70px;
}

.about-container p {
    letter-spacing: 0.6px;
}

/* .about-container h2 {
    font-size: 40px;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 2s ease-out;
}

.about-container h2.slide-in {
    opacity: 1;
    transform: translateX(0);
} */

.about-show-story {
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 6px;
    font-size: 20px;
    border: blueviolet solid 1px;
    background-color: blueviolet;
    color: white;
    transition: 0.2s;
}

.about-show-story:hover {
    /* background-color: rgb(113, 36, 186);
    border-color: rgb(113, 36, 186); */
    background-color: white;
    border-color: rgb(113, 36, 186);
    color: blueviolet;
    cursor: pointer;
}

.about-story {
    /* border: 2px solid rgb(62, 62, 62);
    border-radius: 30px;
    background-color: rgb(62, 62, 62);
    padding-left: 20px;
    padding-right: 20px; */
    margin-top: 30px
}