<header>
    <a href="/" class="header-main-link">
        Byra Bastien.
    </a>
    <div class="header-right">
        <a class="active" href="/">Accueil</a>
        <a href="/blog">Blog</a>
        <a href="/portfolio">Portfolio</a>
    </div>
</header>