<header>
    <a href="/" class="header-main-link">
        Bastien Byra
    </a>
    <div class="header-right">
        <a href="/">Blog</a>
        <a href="/a-propos">A propos</a>
    </div>
</header>