<div class="hero-container">
    {# <div class="hero-introduction">
        <div>
            <h1>Bastien BYRA</h1>
            <p>Devops & Developpeur</p>
        </div>
        <div class="hero-planes-border"></div>
    </div>


    <div class="hero-presentation">
        <img src='assets/BYRA Bastien.jpg' class="hero-profil-picture" alt="Photo de Bastien" />
        <div class="hero-presentation-content">
            <div class="hero-presentation-content-network-inline">
                <h2>👋 Bonjour !</h2>
                <div class="hero-social-network">
                    <a href="https://twitter.com/olawanle_joel">
                        <img src="/assets/social_network/Github.svg" alt="Logo de Github" />
                    </a>
                    <a href="https://twitter.com/olawanle_joel">
                        <img src="/assets/social_network/Linkedin.svg" alt="Logo de Github" />
                    </a>
                </div>
            </div>
            <p>
                Un passioné d'informatique, qui aime apprendre et comprendre les nouvelles technologies, 
            </p>
            <p>
                Dans le monde informatique depuis 5 ans et Développeur depuis plus de 3 ans.
            </p>
            <p>
                Fort de plusieurs années de formation dans les différentes parties de l'informatique et
                du développement informatique, je mets mon savoir et mes compétences à votre service.
            </p>
        </div>
    </div> #}

    <section class="hero-section">
        <div class="hero-side-border"></div>
        <div class="hero-content">
            <h1>Bastien BYRA</h1>
            <p class="hero-profession"><span class="hightlight-orangered">Devops</span>, avec un background de <span class="hightlight-orangered">Developpeur</span></p>
            <p class="hero-location"><i class="material-icons">location_on</i>sur Bordeaux Metropole / la CUB</p>
            <div class="hero-social-network">
                <a href="https://twitter.com/olawanle_joel">
                    <img src="/assets/social_network/Github.svg" alt="Logo de Github" />
                </a>
                <a href="https://twitter.com/olawanle_joel">
                    <img src="/assets/social_network/Linkedin.svg" alt="Logo de Github" />
                </a>
            </div>
        </div>
    </section>
    <div class="hero-photo">
        <img src='assets/BYRA Bastien.jpg' class="hero-profil-picture" alt="Photo de Bastien" />
    </div>
</div>