<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/{{css_file}}.css">
    <title>{{ title }}</title>
    {# <link rel="icon" href="{{pahtToIcon}}favicon.ico" type="image/x-icon" /> #}
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="author" content="Bastien Byra" />
    <meta name="robots" content="index, follow">
    <meta name="description" content="{{ metaDescription }}">
    <meta name="keywords" content="{{ metaKeywords }}">
    {# Opengraph data #}
    <meta property="og:image" content="{{ metaImage }}" />
    <meta property="og:description" content="{{ metaDescription }}"/>
    <meta property="og:title" content="{{ title }}" />
    <script src="/javascript/script.js" refferer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js" integrity="sha512-7Z9J3l1+EYfeaPKcGXu3MS/7T+w19WtKQY/n+xzmw4hZhJ9tyYmcUS+4QqAlzhicE5LAfMQSF3iFTK9bQdTxXg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link
			href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
			rel="stylesheet"
		/>
  </head>
  <body>
      {% include "components/header.njk" %}
        {% block content %} 
            {{ content | safe }}
        {% endblock %}
  </body>
</html>